
#%head%#







<table cellspacing="0" cellpadding="0" border=0 style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td style="width:750px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="750" height="1"></td>
</tr>
<tr>
<td align="left" valign="top" style="width:250px;">

#%in1%#

</td>
<td class="cell_middle">
#%info%#

<form action="#%site_url%#/user.php" method="post">
<input type="hidden" name="action" value="ad_features_edited">
<input type="hidden" name="n" value="#%n%#">

<div class="common_div_title">Your Classified Ad - Extra Features</div>
<div class="common_div"><table border="0" width="100%" cellpadding="0" cellspacing="0">
<tr><td align="center">
<table border="0" width="100%" cellspacing="0" cellpadding="2" class="inside_table">
<tr>
<td align="left" valign="top" nowrap>Ad number </td>
<td align="left" valign="top">#%n%#</td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Title </td>
<td align="left" valign="top">#%title%#</td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Basic listing </td>
<td align="left" valign="top"><span class="text10"><input type="checkbox" name="ad" value="1" checked disabled> #%ad_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Marked by bold </td>
<td align="left" valign="top"><span class="text10"><input type="checkbox" name="bold" value="1"#%bold_checked%#> #%bold_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Highlighted </td>
<td align="left" valign="top"><span class="text10"><input type="checkbox" name="highlight" value="1"#%highlight_checked%#> #%highlight_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Featured ad </td>
<td align="left" valign="top"><span class="text10"><input type="checkbox" name="featured" value="1"#%featured_checked%#> #%featured_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Featured gallery </td>
<td align="left" valign="top"><span class="text10"><input type="checkbox" name="featured_gallery" value="1"#%featured_gallery_checked%#> #%featured_gallery_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Featured on the Home page&nbsp; </td>
<td align="left" valign="top"><span class="text10"><input type="checkbox" name="home_page" value="1"#%home_page_checked%#> #%home_page_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>"Buy Now" by Paypal </td>
<td align="left" valign="top" nowrap><span class="text10"><input type="checkbox" name="paypal" value="1"#%paypal_checked%#> #%paypal_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Paypal email </td>
<td align="left" valign="top" nowrap><input maxlength="255" size="60" name="x_paypal_email" value="#%x_paypal_email%#" class="field10"></span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Paypal currency </td>
<td align="left" valign="top" nowrap>#%paypal_currencies_select%#</td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Paypal price </td>
<td align="left" valign="top" nowrap><input maxlength="10" size="10" name="x_paypal_price" value="#%x_paypal_price%#" class="field10"></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Extra 10 pictures</td>
<td align="left" valign="top" nowrap><span class="text10"><input type="checkbox" name="xtra_pictures" value="10"> #%pictures_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Extra 10 files</td>
<td align="left" valign="top" nowrap><span class="text10"><input type="checkbox" name="xtra_files" value="10"> #%files_active%#</span></td>
</tr>
<tr>
<td align="left" valign="top" nowrap>Period </td>
<td align="left" valign="top" nowrap><select name="period" class="select10">#%period_options%#</select> days</td>
</tr>
<tr><td align="center" colspan=2><input type="submit" value="Submit" name="B1" class="button10"></td></tr>
</table>
</td></tr></table>
</div>

</form>

#%prices_table%#

</td>

</tr></table>


