
#%head%#




<table cellspacing="0" cellpadding="0" border=0 style="table-layout:fixed;padding-top:5px;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td style="width:950px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="750" height="1"></td>
</tr>
<tr>
<td align="left" valign="top" style="width:250px;">

#%in1%#

</td>
<td class="cell_middle">

<div class="common_div_title">Featured Classifieds</div>
<div class="common_div"><table border="0" width="100%" class="table_items_simple">
#%home_featured_ads%#
</table>
</div>

<div class="common_div_title">Areas</div>
<div class="common_div">
<iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="width:750px; height:500px; border:0px;" frameborder="0" src="#%site_url%#/map.php?action=home"></iframe>
</div>

<div class="common_div_title">Newest Classifieds</div>
<div class="common_div"><table border="0" width="100%" class="table_items_simple">
#%home_new_ads%#
</table>
</div>

</td>

</tr></table>



