
#%head%#







<table cellspacing="0" cellpadding="0" border=0 style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td style="width:750px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="750" height="1"></td>
</tr>
<tr>
<td align="left" valign="top" style="width:250px;">

#%in1%#

</td>
<td class="cell_middle">
#%info%#


<div class="common_div_title">User Options</div>
<div class="common_div"><table border="0" width="100%" cellpadding="5" cellspacing="0">

<tr><td nowrap align="left" class="cell_embosed1"><a href="#%user_site_url%#"><b>Click here</b></a> for your personal page in our directory</td></tr>

<tr><td nowrap align="left" class="cell_embosed1"><a href="#%site_url%#/user.php?action=ad_create"><b>Create a new classified</b></a></td></tr>
<tr><td align="left">Use this link to add a new classified to this site.</td></tr>

<tr><td nowrap align="left" class="cell_embosed1"><a href="#%site_url%#/user.php?action=show_classifieds"><b>Your classifieds</b></a></td></tr>
<tr><td align="left">You can review & edit all your existing classifieds. There is also the option to order extra features and view statistics.</td></tr>

<tr><td nowrap align="left" class="cell_embosed1"><a href="#%site_url%#/user.php?action=orders"><b>Your orders</b></a></td></tr>
<tr><td align="left">A list of your orders with the option to download an invoice for each of them.</td></tr>

<tr><td nowrap align="left" class="cell_embosed1"><a href="#%site_url%#/user.php?action=user_favorites"><b>Your bookmarks</b></a></td></tr>
<tr><td align="left">List of your bookmarked categories and classifieds.</td></tr>

<tr><td nowrap align="left" class="cell_embosed1"><a href="#%site_url%#/user.php?action=user_log_off"><b>Log off</b></a></td></tr>
</table></div>


</td>

</tr></table>


