
#%head%#






<table cellspacing="0" cellpadding="0" border=0 style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td style="width:750px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="750" height="1"></td>
</tr>
<tr>
<td align="left" valign="top" style="width:250px;">

#%in1%#

</td>
<td class="cell_middle">
<div class="common_div_title">Account Created</div>
<div class="common_div"><table border="0" width="100%" cellpadding="5" cellspacing="0">
<tr><td align="center">

<table cellspacing="0" cellpadding="2" width="100%" border="0" class="inside_table">
<tr><td align="center" colspan="2"><br>
#%hide_confirmation_begin%#Now please check your email for a confirmation email. You will need to go to the link in the email to confirm your membership. Unconfirmed accounts are automatically deleted after #%days%# days.#%hide_confirmation_end%#
#%hide_continue_begin%#Now please <a href="#%site_url%#/user.php?action=user_login">login here</a>.#%hide_continue_end%#
<br><br>
</td></tr>
</table>

</td></tr></table>
</div>

</td>

</tr></table>


