
#%head%#







<table cellspacing="0" cellpadding="0" border=0 style="table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="250" height="1"></td>
<td style="width:750px;height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="750" height="1"></td>
</tr>
<tr>
<td align="left" valign="top" style="width:250px;">

#%in1%#

</td>
<td class="cell_middle">

<div class="common_div_title">Your Orders</div>
<div class="common_div"><table border="0" width="100%" cellpadding="0" cellspacing="0">
<tr><td align="center">
<table border="0" width="100%" cellspacing="0" cellpadding="2" class="inside_table">
<tr>
<td align="left" valign="top" width="40">#</td>
<td align="left" valign="top">Classified title</td>
<td align="left" valign="top">Price</td>
<td align="center" valign="top">Date</td>
<td align="center" valign="top">Paid</td>
<td align="center" valign="top">Download invoice</td>
</tr>
#%orders%#
</table>
</td></tr></table>
</div>

</td>

</tr></table>


