
<script type="text/javascript">
$(document).ready(function(){
$('#scrollbar3').tinyscrollbar({ axis: 'x'});
});
</script>


<script type="text/javascript">
<!--
img1 = new Image(); img1.src = "#%site_url%#/images/icon_folder_1.gif";
img2 = new Image(); img2.src = "#%site_url%#/images/icon_folder_2.gif";
img3 = new Image(); img3.src = "#%site_url%#/images/icon_folder_3.gif";
img4 = new Image(); img4.src = "#%site_url%#/images/icon_folder_4.gif";
img5 = new Image(); img5.src = "#%site_url%#/images/icon_folder_5.gif";
-->
</script>

#%head%#

<table cellspacing="0" cellpadding="0" style="width:965px;">
<td align="left">
<div style="height:100px;padding-right:5px;overflow:auto;">
#%site_news%#
</div>
</td>
</table>


<br style="line-height:5px" />

<table cellspacing="0" cellpadding="0" style="width:965px;table-layout:fixed;">
<tr>
<td style="width:645px;padding:0px;margin:0px;" align="left"><img border="0" src="#%site_url%#/images/index_top.jpg" width="645"></td>
<td style="width:320px;padding:0px;margin:0px;background-color:#000000;" align="left">
<div style="padding:10px;font-size:20px;color:#FFFFFF;">WELCOME TO<br>VIOLINPRACTICE.COM</div>
<div style="padding:10px;font-size:13px;color:#FFFFFF;">Text here Text here Text here Text here Text here Text here </div>
<div style="padding:10px;font-size:15px;color:#FFFFFF;">Rebecca Henry and<br>Phyllis Freeman</div></td>
</tr>
</table>
<br style="line-height:5px" />

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td style="width:25%;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="180" height="1"></td>
<td width="770" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>
</tr>
<tr>
<td>

#%in4%#


</td>
<td class="cell_middle" style="padding:0px;">

<table cellspacing="0" cellpadding="0" style="width:780px;table-layout:fixed;">
<tr>
<td style="width:250px;height:1px;padding:0px;margin:0px;" align="left"><img border="0" src="#%site_url%#/images/index1.png" width="246"></td>
<td style="width:250px;height:1px;padding:0px;margin:0px;" align="center"><img border="0" src="#%site_url%#/images/index2.png" width="245"></td>
<td style="width:250px;height:1px;padding:0px;margin:0px;" align="right"><img border="0" src="#%site_url%#/images/index3.png" width="246"></td>
</tr>
</table>

<div class="common_div_main" style="margin-top:10px;">
<div class="common_div_title">Featured ViolinPractice Method Videos</div>
<div class="common_div_content" align="center">
#%featured_videos1%#
</div>
</div>

<div class="common_div_main">
<div class="common_div_title">Featured ViolinPractice Pedagogy Videos</div>
<div class="common_div_content" align="center" style="width:100%;">
#%featured_videos2%#
</div>
</div>














<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:350px;">
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">


<div class="item active" style="width:100%;height:300px;">
<table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
<tr>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
</tr>
</table>
<div class="carousel-caption" style="top:20px; z-index: 1;">
</div>
</div>


<div class="item" style="width:100%;height:300px;">
<table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
<tr>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
<td style="width:25%;vertical-align:top;" align="center" valign="top">
<table cellpadding=0 cellspacing=0 border=0 width=100% style="table-layout:fixed;">
<tr><td style="height:50px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><b>222</b></a>
</td></tr>
<tr><td style="height:80px;vertical-align:top;text-align:center;" align="center" valign="top">
<a href="http://www.violinpractice.com/Violin-Video-43/a11gpwu2a-playing-position-posture-drill.html" style="font-size:13px;"><img border="0" src="http://www.violinpractice.com/images/videos/43-1-1398639303.jpg" align="center"></a>
</td></tr>
<tr><td style="height:100px;vertical-align:top;" align="center" valign="top">
<span style="font-size:11px;">
2ViolinPractice Method&nbsp;&nbsp; NEXT PAGEVPM.A1.1.WU.2&nbsp;ViolinPractice Pedagogycoming soon....&nbsp;Lesson Observation
</span>
</td></tr>
</table>
</td>
</tr>
</table>
<div class="carousel-caption" style="top:20px; z-index: 1;">
</div></div>
</div>
<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">

</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

</a>
</div>

























</td>

</tr></table>




