


<script type="text/javascript">
<!--
img1 = new Image(); img1.src = "#%site_url%#/images/icon_folder_1.gif";
img2 = new Image(); img2.src = "#%site_url%#/images/icon_folder_2.gif";
img3 = new Image(); img3.src = "#%site_url%#/images/icon_folder_3.gif";
img4 = new Image(); img4.src = "#%site_url%#/images/icon_folder_4.gif";
img5 = new Image(); img5.src = "#%site_url%#/images/icon_folder_5.gif";
-->
</script>

#%head%#



<br style="line-height:5px" />

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td width="230" style="width:230px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="230" height="1"></td>
<td width="770" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>

</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

#%in3%#

<div style="display:#%display_v%#">
<a name="v_categories"></a>
<div class="common_div_main">
<div class="common_div_title">Video Categories</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%v_categories%#
</table>
</div>
</div>
<div class="common_div_main">
<div class="common_div_title">Featured Videos</div>
<div class="common_div_content" align="center">
#%featured_videos%#
<a href="#%site_url%#/videos.php?action=new">View all</a><br>
</div>
</div>
</div>

<div style="display:#%display_n%#">
<div class="common_div_main">
<div class="common_div_title">Print Outs Categories</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%n_categories%#
</table>
</div>
</div>
<div class="common_div_main">
<div class="common_div_title">New Print Outs</div>
<div class="common_div_content" align="center"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%n_new_items%#
</table></div>
</div>
</div>

<div style="display:#%display_l%#">
<div class="common_div_main">
<div class="common_div_title">Links Categories</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%l_categories%#
</table>
</div>
</div>
<div class="common_div_main">
<div class="common_div_title">New Links</div>
<div class="common_div_content" align="center"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%l_new_items%#
</table></div>
<a href="#%site_url%#/links.php?action=new">View all</a><br>
</div>
</div>

<div style="display:#%display_a%#">
<div class="common_div_main">
<div class="common_div_title">Articles Categories</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%a_categories%#
</table>
</div>
</div>
<div class="common_div_main">
<div class="common_div_title">New Articles</div>
<div class="common_div_content" id="content_div_box"><table border="0" width="100%" cellpadding="0" cellspacing="0">#%a_new_items1%#</table></div>
</div>
<a href="#%site_url%#/articles.php?action=new">View all</a><br>
</div>
</div>

<div style="display:#%display_b%#">
<div class="common_div_main">
<div class="common_div_title">Blogs Categories</div>
<div class="common_div_content"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%b_categories%#
</table>
</div>
</div>
<div class="common_div_main">
<div class="common_div_title">New Blogs</div>
<div class="common_div_content" align="center"><table width="100%" cellpadding="0" cellspacing="0" class="inside_table">
#%b_new_items%#
</table></div>
<a href="#%site_url%#/blogs.php?action=new">View all</a><br>
</div>
</div>


</td>

<td class="right_column">

#%in2%#

</td></tr></table>




