


<script type="text/javascript">
<!--
img1 = new Image(); img1.src = "#%site_url%#/images/icon_folder_1.gif";
img2 = new Image(); img2.src = "#%site_url%#/images/icon_folder_2.gif";
img3 = new Image(); img3.src = "#%site_url%#/images/icon_folder_3.gif";
img4 = new Image(); img4.src = "#%site_url%#/images/icon_folder_4.gif";
img5 = new Image(); img5.src = "#%site_url%#/images/icon_folder_5.gif";
-->
</script>
<script type="text/javascript">
$(document).ready(function(){
$('#scrollbar3').tinyscrollbar({ axis: 'x'});
});
</script>

#%head%#

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<td align="left">
<div class="common_div_main" style="height:100px;padding-right:5px;overflow:auto;">
#%site_news%#
</div>
</td>
</table>


<br style="line-height:5px" />

<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td width="770" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>

</tr>
<tr>
<td class="cell_middle">

#%in3%#

<div class="common_div_main" style="width:950px;">
<div class="common_div_title">Featured Videos</div>
<div class="common_div_content" align="center">
#%featured_videos1%#
<a href="#%site_url%#/videos.php?action=new">View all</a><br>
</div>
</div>

<div class="common_div_main" style="width:950px;">
<div class="common_div_title">Featured Videos</div>
<div class="common_div_content" align="center" style="width:100%;">
#%featured_videos2%#
<a href="#%site_url%#/videos.php?action=new">View all</a><br>
</div>
</div>

</td>

</tr></table>




