#%head%#






<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td width="230" style="width:230px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="230" height="1"></td>
<td width="770" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>

</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

#%in3%#

<a name="item_top"></a>

<div class="common_div_main">
<div class="common_div_title">#%title%#</div>
<div class="common_div_content"><table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr><td>

<a name="details_menu"></a>
<div class="item_detail_menu">
<ul>
<li><a href="javascript:show_submenu('1');" id="details_li_1" class="details_li_highlight">Details</a></li>
<li><a href="javascript:show_submenu('7');" id="details_li_7">Tell friend</a></li>
#%hide_owner_begin%#<li><a href="javascript:show_submenu('9');" id="details_li_9">Owner</a></li>#%hide_owner_end%#
#%hide_contact_form_begin%#<li><a href="javascript:show_submenu('10');" id="details_li_10">Contact</a></li>#%hide_contact_form_end%#
#%hide_for_no_user_begin%#<li><a href="javascript:show_submenu('11');" id="details_li_11">Private notes</a></li>#%hide_for_no_user_end%#
</ul>
</div>

<DIV class="common_div_content1">

<div id="div_details_1" style="display:block;">
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table_20px_padding">
<tr><td align="left" valign="top"><b>#%description%#</b><br /></td></tr>
<tr><td align="left" valign="top">#%text%#</td></tr>
#%hide_usit_begin%#<tr><td align="left" valign="top">#%user_defined%#</td></tr>#%hide_usit_end%#
#%pdf%#
<tr><td align="lcenter" valign="top">#%files%#</td></tr>
<tr style="display: none;" id="row#%n%#"><td nowrap align="center" width="100%">
<iframe frameborder="0" width="100%" id="iframe#%n%#" style="border-width:1px; border-color:black; border-style:solid;"></iframe>
</td></tr>
#%hide_tags_begin%#<tr><td align="left" valign="top"><span class="text_bold">Tags:</span> #%tags%#</td></tr>#%hide_tags_end%#
</table>
#%pictures_gallery%#
<div style="margin-top:20px;display:#%div_display_map%#">
<iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="width:100%; height:570px; border:0px;" frameborder="0" src="#%site_url%#/map.php?what=n&n=#%n%#"></iframe>
</div>
#%hide_next_cat_begin%##%next_category%#<br />#%hide_next_cat_end%#
#%hide_previous_cat_begin%##%previous_category%#<br />#%hide_previous_cat_end%#
</div>

<div id="div_details_7" style="display:none;">
<div id="tell_friend_boxn#%n%#">
#%tell_friend_box%#
</div>
</div>

<div id="div_details_11" style="display:none;">
<div id="notes_edit_boxn#%n%#">
#%notes_edit_box%#
</div>
<br>#%add_delete_favorites%#
</div>

</td></tr></table>
</div>
</div>

#%edit_link%#

</td>

<td class="right_column">

#%in2%#

</td></tr></table>

<img alt="" id="track_image_#%n%#" src="#%site_url%#/images/blank.gif" border="0" width="0" height="0">
