
#%head%#






<table cellspacing="0" cellpadding="0" style="table-layout:fixed;">
<tr>
<td width="230" style="width:230px;height:1px;padding:0px;margin:0px;line-height:1px;" class="left_column"><img border="0" src="#%site_url%#/images/blank.gif" width="230" height="1"></td>
<td width="770" style="height:1px;padding:0px;margin:0px;line-height:1px;"><img border="0" src="#%site_url%#/images/blank.gif" width="50" height="1"></td>

</tr>
<tr>
<td class="left_column">

#%in1%#


</td>
<td class="cell_middle">

#%in3%#


#%info%#

<div class="common_div_main">
<div class="common_div_title">LOGIN</div>
<div class="common_div_content">

#%info%#

<form method="post" action="#%site_url%#/user.php">
<input type="hidden" name="action" value="logged_in">
<table cellspacing="0" cellpadding="2" width="240">
<tr>
<td align="left" style="vertical-align:bottom;">Username </td>
<td align="left"><input class="field10" maxLength="15" style="width:110px" name="username" value="#%username%#"></td>
</tr>
<tr>
<td align="left" style="vertical-align:bottom;">Password </td>
<td align="left"><input class="field10" type="password" maxLength="15" style="width:110px" name="password" value="#%password%#"></td>
</tr>
<tr style="display:#%display_captcha_tr%#;">
<td align="left" style="vertical-align:bottom;">Your code </td><td align="left"><img alt="" src="#%site_url%#/image_control.php?action=get_image&x=#%captcha_code%#"></td>
</tr>
<tr style="display:#%display_captcha_tr%#;">
<td align="left" style="vertical-align:bottom;">Enter the code </td><td align="left"><input maxlength="10" style="width:110px" name="image_control" class="field10"></td>
</tr>
<tr>
<td align="left" style="vertical-align:bottom;">Remember me </td>
<td align="left"><input type="checkbox" value="1" name="remember_me"></td>
</tr>

<tr>
<td align="center" colspan=2><input type="submit" value="Submit" name="B1" class="button10" style="height:28px;"></td>
</tr>
<tr>
<td align="center" valign="bottom" colspan="2"><script src="#%site_url%#/facebook.php"></script></td>
</tr>
<tr>
<td align="center" valign="bottom" colspan="2"><a href="#%site_url%#/user.php?action=user_join" style="font-size:15px;">Join Now</a></td>
</tr>
<tr>
<td align="center" valign="bottom" colspan="2"><a href="#%site_url%#/user.php?action=user_remind" style="font-size:15px;">Password reminder</a></td>
</tr>
</table>
</form>

</div>
</div>

</td>

<td class="right_column">

#%in2%#

</td></tr></table>


